.cats
  margin-top: 32px
  position: relative
  height: 80px

  &-magic
    background: linear-gradient(to right, rgba(255,255,255, 0.1), rgba(255, 255, 255, 1))
    position: absolute
    height: inherit
    width: 140px
    right: 0
    top: 50%
    transform: translateY(-50%)

  &-block
    display: flex
    overflow-x: scroll
    -ms-overflow-style: none
    overflow: -moz-scrollbars-none
    &::-webkit-scrollbar
      width: 0

    &__item
      text-decoration: none
      border-right: 1px solid #B9B9B9
      display: flex
      align-items: center
      width: 211px
      min-width: 211px
      margin-right: 20px

      .item-img
        width: 60px
        height: 60px
        background: #C4C4C4
        border-radius: 3px
        min-width: 60px
        min-height: 60px
        margin-right: 10px

      .item-about
        .cat-title
          font-size: 14px
          font-weight: 400
          color: #000
        .cat-products
          font-size: 12px
          font-weight: 400
          color: #8B8B8B
