.header
  width: 100%
  height: 100px
  background: #000

  &-content
    display: flex
    max-width: 1180px
    margin: 0 auto
    align-items: center
    height: inherit

    .title
      color: #fff
      font-size: 14px
      font-weight: 700
