.prods
  width: 100%
  &-filters
    &__sort
      display: flex
      justify-content: space-between

      &-about
        display: flex
        align-items: center

        .title
          font-size: 14px
          font-weight: 400
          margin-right: 10px

        .sort-list
          margin-right: 15px

          a
            color: #5375B7
            font-size: 14px
            margin-right: 15px
            text-decoration: none

            &.active
              color: #000
              border-bottom: 1px solid #F1BD45

      &-select
        display: flex
        align-items: center

        label
          font-size: 14px
          margin-right: 8px

    &__correct
      margin-top: 20px

      .correct-item
        font-size: 14px
        font-weight: 400
        padding: 7px 15px
        color: #000
        background: #FFF3D8
        border-radius: 3px
        text-decoration: none
        margin-right: 10px

  &-list
    display: flex
    flex-wrap: wrap

    &__item
      width: 260px
      margin-right: 44px
      margin-top: 40px

      .item-img
        width: 260px
        height: 260px
        background: #C4C4C4
        border-radius: 3px

      .item-name
        font-size: 14px
        line-height: 18px
        font-weight: 400
        margin-top: 10px

      .item-price
        margin-top: 18px
        display: flex
        align-items: center
        &__current
          font-size: 16px
          font-weight: bold
        &__old
          margin-left: 16px
          font-size: 14px
          text-decoration: line-through
          color: #A9A9A9

      .item-link
        margin-top: 16px
        width: 100%
        height: 40px
        background: #F1BD45
        border: none
        border-radius: 3px
        font-size: 14px
        font-weight: 700
        cursor: pointer
      &:nth-child(3n)
        margin-right: 0


  &-pagination
    margin-top: 40px
    display: flex
    align-items: center

    &__item
      color: rgba(0,0,0,0.5)
      text-decoration: none
      margin-right: 30px
      &.near-right
        margin-right: 10px
      &.active
        color: #000
