.results
  margin-top: 32px

  &-header
    display: flex
    align-items: center

    &__title
      font-size: 28px
      font-weight: 400
      line-height: 32px
    &__query
      font-size: 14px
      color: #8B8B8B
      font-family: 'Open Sans', sans-serif
      font-weight: normal
      margin-left: 24px
      line-height: 19px

