.search
  margin-top: 32px
  display: flex
  align-items: center
  justify-content: space-between

  &-input
    position: relative
    width: calc(100% - 128px)

    &__reset
      position: absolute
      top: 50%
      transform: translateY(-50%)
    input
      background: #ffffff
      outline: none
      border: 1px solid #C7C7C7
      border-radius: 5px 0 0 5px
      height: 40px
      padding-left: 56px
      background-image: url(../../img/search.svg)
      background-repeat: no-repeat
      background-position-x: 16px
      background-position-y: center
      width: 100%

    &:after
      content: ''
      width: 1px
      height: 16px
      background: rgba(0,0,0,0.5)
      position: absolute
      left: 45px
      top: 50%
      transform: translateY(-50%)
      display: block

