.sidebar
  width: 270px
  margin-right: 40px
  .title
    font-size: 14px
    &.bold
      font-weight: bold
  &-cats
    &__list
      padding: 0
      margin-top: 20px !important
      li
        margin-bottom: 16px
        &:last-of-type
          margin-bottom: 0
        a
          color: #5375B7
          text-decoration: none
          font-size: 14px
          display: flex
          align-items: center

          .count
            color: #ABABAB
            margin-left: 4px

  &-price
    margin-top: 46px
    &__range
      .input-group
        display: flex
        align-items: center
        margin-top: 16px

        &__item
          display: flex
          align-items: center

          label
            font-size: 12px
            color: rgba(0,0,0,0.5)
            font-weight: normal
            margin-right: 8px
            &.last
              margin-right: 0

          input
            width: 110px
            height: 40px
            padding-left: 13px
            margin-right: 8px
            border-radius: 3px
            border: 1px solid #DEDEDE

  &-filter
    &__header
      display: flex
      align-items: center
      justify-content: space-between

    &__list
      margin-top: 16px

      label
        display: flex
        align-items: center

        input
          width: 15px
          height: 15px
          border-radius: 3px

        .label-main
          margin-left: 8px
          font-size: 16px
          font-weight: 400
        .label-count
          margin-left: 4px
          color: rgba(0,0,0,0.5)
          font-size: 14px



