doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title AnyQuery
        meta(name='description', content='..')
        meta(name='keywords', content='..')
        link(href='favicon/favicon.png', rel='shortcut icon')
        link(rel='stylesheet', href='css/styles.min.css')
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap' rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css', rel='stylesheet')
        script(src='js/modernizr-custom.js')
        script(src='js/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js')

    body
        header.header
            .header-content
                .title Шапка сайта


        main
            section.search
                .search-input
                    input.search-input__query(type='text', value='Запрос пользователя')
                    button.btn.btn-search Найти
                    img.search-input__reset(src='img/close.svg')
                .search-close
                    button.btn.btn-close Закрыть

            section.results
                .results-header
                    .results-header__title Результаты по запросу
                    .results-header__query Показаны результаты для “Запрос пользозвателя”. Вы искали “Зопрос пользователя”.

            section.cats
                .cats-magic
                .cats-block
                    a.cats-block__item(href='')
                        .item-img
                        .item-about
                            .cat-title Название категории
                            .cat-products 134 товара
                    a.cats-block__item(href='')
                        .item-img
                        .item-about
                            .cat-title Название категории
                            .cat-products 134 товара
                    a.cats-block__item(href='')
                        .item-img
                        .item-about
                            .cat-title Название категории
                            .cat-products 134 товара
                    a.cats-block__item(href='')
                        .item-img
                        .item-about
                            .cat-title Название категории
                            .cat-products 134 товара
                    a.cats-block__item(href='')
                        .item-img
                        .item-about
                            .cat-title Название категории
                            .cat-products 134 товара
                    a.cats-block__item(href='')
                        .item-img
                        .item-about
                            .cat-title Название категории
                            .cat-products 134 товара
                    a.cats-block__item(href='')
                        .item-img
                        .item-about
                            .cat-title Название категории
                            .cat-products 134 товара


            section.content
                .sidebar
                    .sidebar-cats
                        .title Все категории
                        ul.sidebar-cats__list
                            li
                                a(href='#')
                                    .link Категория, в которой нашли что-то
                                    .count (xxx)
                            li
                                a(href='#')
                                    .link Категория, в которой нашли что-то
                                    .count (xxx)
                            li
                                a(href='#')
                                    .link Категория, в которой нашли что-то
                                    .count (xxx)
                            li
                                a(href='#')
                                    .link Категория, в которой нашли что-то
                                    .count (xxx)
                            li
                                a(href='#')
                                    .link Категория, в которой нашли что-то
                                    .count (xxx)
                            li
                                a(href='#')
                                    .link Еще 10 категорий...

                    .sidebar-price
                        .title.bold Цена, валюта
                        .sidebar-price__range
                            .input-group
                                .input-group__item
                                    label От
                                    input.range-min(value='1000')
                                .input-group__item
                                    label До
                                    input.range-max(value='100000')
                                    label.last Р
                            .rangeslider
                                input.min(name='range_1' type='range' min='1000' max='1000000' value='1000')
                                input.max(name='range_1' type='range' min='1000' max='1000000' value='1000000')

                    .sidebar-filter
                        .sidebar-filter__header
                            .title.bold Бренды
                            button.btn.btn-clear Очистить
                        .sidebar-filter__list
                            label
                                input(type='checkbox')
                                .label-main Бренд
                                .label-count (xxx)
                            label
                                input(type='checkbox')
                                .label-main Бренд
                                .label-count (xxx)
                            label
                                input(type='checkbox')
                                .label-main Бренд
                                .label-count (xxx)



                .prods
                    .prods-filters
                        .prods-filters__sort
                            .prods-filters__sort-about
                                .title Сортировать по:
                                .sort-list
                                    a.active(href='#') Популярности
                                    a(href='#') Сначала дешевые
                                    a(href='#') Сначала дорогие
                            .prods-filters__sort-select
                                label Показывать по
                                select
                                    option(data-display='10') Выберите
                                    option(value='1') 10
                                    option(value='2') 20
                                    option(value='4') 30

                        .prods-filters__correct
                            a.correct-item(href='#') Уточенение
                            a.correct-item(href='#') Уточенение
                            a.correct-item(href='#') Уточенение
                            a.correct-item(href='#') Уточенение

                    .prods-list
                        .prods-list__item
                            .item-img
                            .item-name Наименование товара, которое не более 2 строк
                            .item-price
                                .item-price__current XX XXX$
                                .item-price__old XX XXX$
                            button.item-link(href='#') Кнопка
                        .prods-list__item
                            .item-img
                            .item-name Наименование товара, которое не более 2 строк
                            .item-price
                                .item-price__current XX XXX$
                                .item-price__old XX XXX$
                            button.item-link(href='#') Кнопка
                        .prods-list__item
                            .item-img
                            .item-name Наименование товара, которое не более 2 строк
                            .item-price
                                .item-price__current XX XXX$
                                .item-price__old XX XXX$
                            button.item-link(href='#') Кнопка
                        .prods-list__item
                            .item-img
                            .item-name Наименование товара, которое не более 2 строк
                            .item-price
                                .item-price__current XX XXX$
                                .item-price__old XX XXX$
                            button.item-link(href='#') Кнопка
                        .prods-list__item
                            .item-img
                            .item-name Наименование товара, которое не более 2 строк
                            .item-price
                                .item-price__current XX XXX$
                                .item-price__old XX XXX$
                            button.item-link(href='#') Кнопка
                        .prods-list__item
                            .item-img
                            .item-name Наименование товара, которое не более 2 строк
                            .item-price
                                .item-price__current XX XXX$
                                .item-price__old XX XXX$
                            button.item-link(href='#') Кнопка
                        .prods-list__item
                            .item-img
                            .item-name Наименование товара, которое не более 2 строк
                            .item-price
                                .item-price__current XX XXX$
                                .item-price__old XX XXX$
                            button.item-link(href='#') Кнопка
                        .prods-list__item
                            .item-img
                            .item-name Наименование товара, которое не более 2 строк
                            .item-price
                                .item-price__current XX XXX$
                                .item-price__old XX XXX$
                            button.item-link(href='#') Кнопка
                        .prods-list__item
                            .item-img
                            .item-name Наименование товара, которое не более 2 строк
                            .item-price
                                .item-price__current XX XXX$
                                .item-price__old XX XXX$
                            button.item-link(href='#') Кнопка



                    .prods-pagination
                        a.prods-pagination__item(href='#') 2
                        a.prods-pagination__item.active.near-right(href='#') 3
                        .prods-pagination__item.disabled.near-right ...
                        a.prods-pagination__item(href='#')
                            img(src='img/chevron-right.svg')

                br
                br
                br
                br
                br
                br
                br









    script(src='js/scripts.min.js')

