*,
*::before,
*::after
  box-sizing: border-box
  outline: none

ul[class],
ol[class]
  padding: 0

body,
h1,
h2,
h3,
h4,
p,
li,
ul[class],
ol[class],
figure,
figcaption,
blockquote,
dl,
dd
  margin: 0
  font-style: normal
  font-weight: normal

body
  min-width: 320px
  min-height: 100vh
  scroll-behavior: smooth
  text-rendering: optimizeSpeed
  position: relative
  overflow-x: hidden
  line-height: 1.5

ul[class],
ol[class]
  list-style: none

a:not([class])
  text-decoration-skip-ink: auto

img
  max-width: 100%
  display: block

input,
button,
textarea,
select
  font: inherit

@media (prefers-reduced-motion: reduce)
  *
    animation-duration: 0.01ms !important
    animation-iteration-count: 1 !important
    transition-duration: 0.01ms !important
    scroll-behavior: auto !important
