@import normolize
@import "comps/header"
@import "comps/search"
@import "comps/elms/buttons"
@import "comps/resulsts"
@import "comps/cats"
@import "comps/content"
@import "comps/elms"

body
  font-family: 'Arial', sans-serif
  font-size: 16px
  line-height: 1.65
  color: #000


  main
    max-width: 1180px
    margin: 0 auto
    padding-bottom: 100px
