button.btn
  outline: none
  font-weight: 700
  cursor: pointer
  transition: 0.3s

  &.btn-search
    width: 145px
    height: 40px
    background: #F1BD45
    border-radius: 0 3px 3px 0
    border: none
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)

  &.btn-close
    width: 117px
    height: 40px
    background: transparent
    border-radius: 3px
    border: 1px solid #DEDEDE

  &.btn-clear
    background: none
    border: none
    font-size: 10px
    text-decoration: underline
    color: rgba(0,0,0,0.5)
