
input[type='range']
  width: 100%
  height: 30px
  overflow: hidden
  cursor: pointer
  outline: none
  -webkit-appearance: none
  background: none
  margin-top: 16px

  &::-webkit-slider-runnable-track, &::-webkit-slider-thumb
    -webkit-appearance: none
    background: none

  &::-webkit-slider-runnable-track
    width: 200px
    height: 4px
    background: #000
    border-radius: 20px

  &:nth-child(2)::-webkit-slider-runnable-track
    background: none

  &::-webkit-slider-thumb
    position: relative
    height: 15px
    width: 15px
    margin-top: -5px
    background: #fff
    border: 1px solid #000
    border-radius: 25px
    z-index: 1

  &:nth-child(1)::-webkit-slider-thumb
    z-index: 2

.rangeslider
  position: relative
  height: 60px
  width: 100%
  display: inline-block
  margin-top: -5px

  input
    position: absolute

  span
    position: absolute
    margin-top: 30px
    left: 0

  .right
    position: relative
    float: right
    margin-right: -5px

/* Proof of concept for Firefox
@-moz-document url-prefix()
  .rangeslider::before
    content: ''
    width: 100%
    height: 2px
    background: #000
    display: block
    position: relative
    top: 16px

  input[type='range']
    &:nth-child(1), &:nth-child(2)
      position: absolute
      top: 35px !important
      overflow: visible !important
      height: 0

    &::-moz-range-thumb
      position: relative
      height: 15px
      width: 15px
      margin-top: -7px
      background: #fff
      border: 1px solid #000
      border-radius: 25px
      z-index: 1

    &:nth-child(1)::-moz-range-thumb, &:nth-child(2)::-moz-range-thumb
      transform: translateY(0px)
